/* CSS Document */


.z_index_nr4_wr{width: 100%; margin-top: 20px; }
.z_index_nr4_jz{max-width: 1100px; width: 100%; margin: 0 auto;}
.z_index_nr4_nr{width: auto;}
.z_index_nr4_01{padding-bottom: 10px; border-bottom: 1px solid #ddd; font-size: 1em;}
.z_index_nr4_02{margin-top: 10px; }
.z_index_nr4_02_ul{width: auto;}
.z_index_nr4_02_ul_li{float: left;}
.z_index_nr4_02_ul_li{width: 200px; text-align: center; padding: 10px;}
.z_index_nr4_02_ul_li_div1{width: auto; text-align: center; border: 1px solid #ddd; padding: 5px;}
.z_index_nr4_02_ul_li_div1:hover{opacity: 0.8; border: 1px solid #f63;}
.z_index_nr4_02_ul_li_div1_01{width: auto; }
.z_index_nr4_02_ul_li_div1_01 img{width: 100%}
.z_index_nr4_02_ul_li_div1_02{margin-top:10px; margin-bottom: 10px; width: auto; font-size: 0.75em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.z_index_nr5_wr{width: 100%; margin-top: 20px; }
.z_index_nr5_jz{max-width: 1100px; width: 100%; margin: 0 auto;}
.z_index_nr5_nr{width: auto;}
.z_index_nr5_01{padding-bottom: 10px; border-bottom: 1px solid #ddd; font-size: 1em;}
.z_index_nr5_02{margin-top: 10px; }
.z_index_nr5_02_ul{width: auto;}
.z_index_nr5_02_ul_li{float: left;}
.z_index_nr5_02_ul_li{width: 200px; text-align: center; padding: 10px;}
.z_index_nr5_02_ul_li_div1{width: auto; text-align: center; border: 1px solid #ddd; padding: 10px;}
.z_index_nr5_02_ul_li_div1:hover{opacity: 0.8; border: 1px solid #f63;}
.z_index_nr5_02_ul_li_div1_01{width: auto; }
.z_index_nr5_02_ul_li_div1_01 img{width: 100%}
.z_index_nr5_02_ul_li_div1_02{margin-top:10px; margin-bottom: 10px; width: auto; font-size: 0.75em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.z_index_nr6_wr{width: 100%; margin-top: 20px; }
.z_index_nr6_jz{max-width: 1100px; width: 100%; margin: 0 auto;}
.z_index_nr6_nr{width: auto;}
.z_index_nr6_01,.z_index_nr6_02{float: left;}
.z_index_nr6_01{width: 380px; padding: 10px; outline: 1px solid #ddd; padding-bottom: 30px;}
.z_index_nr6_02{width: 679px; padding: 10px; outline: 1px solid #ddd; margin-left: 1px;}

.z_index_nr7_wr{width:100%; margin-top: 10px;}
.z_index_nr7_jz{max-width:1100px; height:100%; margin: 0 auto; }
.z_index_nr7_01{max-width:1098px; height: 34px; border: 1px solid #ddd; }
.z_index_nr7_01 ul{width:100%; height: 100%;}
.z_index_nr7_01 ul li{width:150px; float: left; text-align: center; border-right: 1px solid #ddd;}
.z_index_nr7_01 ul li a{display: block; line-height: 34px; font-size: 1em;}
.z_index_nr7_01_ul_li_a{background-color:#d44;}
.z_index_nr7_01_ul_li_a a:link{color:#fff;}
.z_index_nr7_02{max-width:1060px; border: 1px solid #ddd; border-top: none; padding: 19px;}
.z_index_nr7_02 ul{width: 100%; height: 100%;}
.z_index_nr7_02 ul li{width: 200px; float: left; margin-right: 15px; transition:all .3s ease-in-out .1s;}
.z_index_nr7_02 ul li:hover{outline:1px solid #222; background-color: #111;}/*  */
.z_index_nr7_02 ul li:last-child{margin-right: 0;}


/* yh_login */
.z_yh_login_wr{width: 100%; margin: 30px 0;}
.z_yh_login_jz{max-width:1100px; width: 100%; margin: 0 auto;}
.z_yh_login_nr{width: auto; padding: 50px; border: 1px solid #ddd;}
.z_yh_login_01{width: auto; }
.z_yh_login_0101{}
.z_yh_login_010101,.z_yh_login_010102{float: left;}
.z_yh_login_010101{}
.z_yh_login_f1_password{margin-top: 10px;}
.z_yh_login_010102{ margin-left: 5px; }
.z_yh_login_f1_btn_login{width: 100px; height: 63px;}
.z_yh_login_0102{margin-top: 10px; font-size: 0.8em; }
.z_yh_login_0102>a{margin-left: 10px;}
.z_yh_login_f1_chk_username_cookie{vertical-align: middle;}
.z_yh_login_f1_btn_queren{width: 80px; margin-right: 10px;}
.z_yh_login_f1_btn_quxiao{width: 80px;}
/* // yh_login */

/* yh_readme */
.z_yh_readme_wr{width: 100%; margin: 50px 0; }
.z_yh_readme_jz{max-width:1100px; width: 100%; margin: 0 auto;}
.z_yh_readme_nr{width: auto; padding: 50px; border: 1px solid #ddd; font-size: 0.8em;}
.z_yh_readme_01{width: auto; }
.z_yh_readme_02{width: auto; margin-top: 30px;}
.z_yh_readme_03{width: auto; margin-top: 30px; text-align: center;}
.z_yh_readme_f1_readme1{width: 100%; height: 400px; border: 1px solid #ddd; margin-top: 10px; padding: 10px; resize: none;}
.z_yh_readme_f1_chk_readme{vertical-align: bottom;}
.z_yh_readme_f1_readme2{width: 100%; height: 400px; border: 1px solid #ddd; margin-top: 10px; padding: 10px; resize: none;}
.z_yh_readme_f1_btn_queren{width: 70px; margin-right: 10px;}
.z_yh_readme_f1_btn_quxiao{width: 70px;}
/* // yh_readme */

/* yh_join */
.z_yh_join_wr{width: 100%; margin: 50px 0;}
.z_yh_join_jz{max-width:1100px; width: 100%; margin: 0 auto;}
.z_yh_join_nr{width: auto; padding: 50px; border: 1px solid #ddd; font-size: 0.8em; }
.z_yh_join_01{width: auto;}
.z_yh_join_02{width: auto; margin-top: 30px; text-align: center; border-top: 1px solid #ddd; padding-top: 20px;}
.z_yh_join_01_h3{padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.z_yh_join_0101{width: auto; margin-top: 20px;}
.z_yh_join_010101,.z_yh_join_010102{float:left;}
.z_yh_join_010101{width: 20%; line-height: 24px; text-align: right;}
.z_yh_join_010102{padding-left: 20px;}
.z_yh_join_f1_mb_addr1{width: 250px;}
.z_yh_join_f1_mb_addr2{width: 250px;}
.z_yh_join_f1_yh_z_dizhi_xx{width: 300px;}
.z_yh_join_f1_z_chk_yzm{width: 120px; height: 22px;}
.z_yh_join_f1_btn_queren{width: 70px; margin-right: 10px;}
.z_yh_join_f1_btn_quxiao{width: 70px;}
/* // yh_join */

/* yh_zhmm1 */
.z_yh_zhmm1_wr{width: 100%; margin: 30px 0;}
.z_yh_zhmm1_jz{max-width:1100px; width: 100%; margin: 0 auto;}
.z_yh_zhmm1_nr{width: auto; padding: 50px; border: 1px solid #ddd; font-size: 0.8em;}
.z_yh_zhmm1_01{width: auto; }
.z_yh_zhmm1_0101{}
.z_yh_zhmm1_0102{margin-top: 10px;}
.z_yh_zhmm1_010201,.z_yh_zhmm1_010202{float: left;}
.z_yh_zhmm1_010201{width: 50px; text-align: right; line-height: 24px;}
.z_yh_zhmm1_010202{margin-left: 10px;}
.z_yh_zhmm1_0103{margin-top: 10px; margin-left: 60px;}
.z_yh_zhmm1_010301,.z_yh_zhmm1_010302{float: left;}
.z_yh_zhmm1_010301{text-align: right; line-height: 24px;}
.z_yh_zhmm1_010302{margin-left: 10px;}
.z_yh_zhmm1_f1_yh_email{width: 250px;}
.z_yh_zhmm1_f1_btn_queren{width: 70px;}
.z_yh_zhmm1_f1_btn_quxiao{width: 70px;}
/* // yh_zhmm1 */

/* yh_zhmm1_2 */
.z_yh_zhmm1_2_wr{width: 100%; margin: 30px 0;}
.z_yh_zhmm1_2_jz{max-width:1100px; width: 100%; margin: 0 auto;}
.z_yh_zhmm1_2_nr{width: auto; padding: 50px; border: 1px solid #ddd; font-size: 0.8em;}
.z_yh_zhmm1_2_01{width: auto; }
.z_yh_zhmm1_2_02{width: auto; margin-top: 20px;}
.z_yh_zhmm1_2_0201,.z_yh_zhmm1_2_0202{float: left;}
.z_yh_zhmm1_2_0201{width: 70px; text-align: right; margin-right: 10px;}
/* // yh_zhmm1_2 */